[Unit]
Description=Nexora DNS Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Nexora/src
Environment="NEXORA_BIND=0.0.0.0"
Environment="NEXORA_PORT=53"
Environment="NEXORA_ZONE=t1.phonexpress.ir"
Environment="NEXORA_SESSION_TTL=900"
Environment="NEXORA_CLEANUP_INTERVAL=60"
EnvironmentFile=-/etc/default/nexora-server
ExecStart=/usr/bin/python3 -u /root/Nexora/src/nexora_server.py --bind ${NEXORA_BIND} --port ${NEXORA_PORT} --zone ${NEXORA_ZONE} --session-ttl ${NEXORA_SESSION_TTL} --cleanup-interval ${NEXORA_CLEANUP_INTERVAL}
Restart=always
RestartSec=2
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
